# Python
/*.py
/*.py[cod]
**/__pycache__/

# Virtual environments
.devenv/
devenv/
.buildenv/
buildenv/
.venv/
venv/
.env/
env/

# IDEs
.vscode/

# Pytest
.pytest_cache/
.coverage
htmlcov/
.mypy_cache


# PyEnv
.python-version